.Rproj.user
.Rhistory
.RData
.Ruserdata
google_key.txt
workdocumentation.log
workdocumentation.synctex.gz
variable_dictionary.aux
variable_dictionary.log
variable_dictionary.md
variable_dictionary.out
variable_dictionary.pdf
variable_dictionary.tex
variable_dictionary.toc
workdocumentation_final.aux
workdocumentation_final.log
workdocumentation_final.md
workdocumentation_final.out
workdocumentation_final.pdf
workdocumentation_final.tex
